#header {
	font-size: 30px;
	padding: 10px;
	margin: 10px;
	border-bottom: solid;
	border-width: 2px;
	border-color: black;
	font-family: Arial;
}

.athlete {
	margin: 5px;
	font-weight: bold;
}

#add-athlete {
	margin: 5px;
}

#athlete-form {
	float: left;
}

p {
	margin: 5px;
}